*{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

body {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 50px;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 150px;
}
img .middle {
    width: 50px;
}

.top {
    display: flex;
}

.middle {
    display: flex;
    flex-direction: column;
}
.middle-text{
    display: flex;
    justify-content: center;
}
.middle-images {
    display: inline-flex;
    justify-content: space-around;
}

.quote {
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.author {
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.action {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}