*{
    font-family: Arial, Helvetica, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 18px;
    
}

.header {
    display: flex;
    height: 50px;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.header-logo {
    font-size: 24px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 80px;
    align-items: center;
}
.top-primary {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
}
.top-secondary {
    font-size: 18px;
    margin: 30px auto;
    color: #e5e7eb;
}

input {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 20px;
    font-weight: 700;
}

.header, .top {
    background-color: #1f2937;
    color: white;
 
}

.middle {
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.middle-text{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.middle-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.middle-images {
    display: inline-flex;
    justify-content: space-around;
    
}
.middle-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#4a4a4a;
}

.bottom {
    background-color: #e5e7eb;
    padding: 50px 0;
}
.quote {
    padding: 0px 200px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.author {
    padding: 0px 200px;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.action {
    color: white;
    background-color: #3882f6;
    display: flex;
    margin: auto;
    padding: 70px 100px;
    border-radius: 12px;
    justify-content: space-evenly;
    margin: 100px auto;
}

.action-text{
    flex: 1 0 auto;
}

.action button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding: 6px 20px;
    font-weight: 700;  
    font-size: 20px;
    margin: 0 50px;
}

.action-button{
    display: flex;
    align-items: center;
}

.action-title {
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 600;
}
.action-para {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow-wrap: break-word;

}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 30px 200px;
    display: flex;
    justify-content: center;
}



img {
    width: 350px; 
}
.middle-images img {
    width: 250px;
    border-radius: 10px;

}

.header-logo img{
    width: 70px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}